<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/usersql" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>	

	<!-- Definition for productJDBCTemplate bean -->
	<!-- <bean id="daoProduct" class=" any.artsoft.dao.ProductsDaoImpl"> <property 
		name="dataSource" ref="dataSource" /> </bean> -->
	<!-- Definition for userJDBCTemplate bean -->
	<!-- <bean id="daoUser" class=" any.artsoft.dao.UsersDaoImpl"> <property 
		name="dataSource" ref="dataSource" /> </bean> -->

		<!-- Configure Hibernate 4 Session Facotry -->
      <bean id="sessionFactory"
            class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

			<property name="dataSource">
			  <ref bean="dataSource" />
			</property>

			<property name="hibernateProperties">
			  <props>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
					<prop key="hibernate.current_session_context_class">thread</prop>
				 	<prop key="hibernate.id.new_generator_mappings">false</prop> 
					 <prop key="hibernate.show_sql">true</prop>
			  </props>
			</property>
			<property name="annotatedClasses">
			<list>
				  <value>any.artsoft.model.Product</value> <!-- Entity classes-->
				   <value>any.artsoft.model.User</value>
				    <value>any.artsoft.model.UserRoles</value>
			</list>
			</property>

      </bean>

</beans>



